@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AUB TV App's Content Management System</h1>
    <p>This platform is for managing the content showed on the TV Application of the American University of Beirut.</p>
</div>
